*{
	border: 0;
	margin: 0;
	padding: 0;
}

div {
	display:  flex;
	align-items: center;
	justify-content: center;
	font-family: "Righteous";
	font-size: 35px;
	color: white;
	width: 100%;
	height:  100vh;


}


.subtext {
	position: absolute;
	width: 35vw;
    left: 45vw;
	top: 415px;
	padding: 20px;
    font-family: "Righteous";
    font-weight:;
    font-size: 25px;
    line-height: 1.5em;
    color: white;
    background:;

}



.three-text1{
	position: absolute;
	width: 35vw;
     left: 54vw;
	top: 1808px;
	padding: 20px;
    font-family: "Righteous";
    font-weight:;
    font-size: 25px;
    line-height: 1.5em;
    color: #ff8243;
    background: white;

}

.three-text{
	position: absolute;
	width: 31vw;
    left: 54vw;
	top: 1874px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #ff8243;
    background: white;

}

.five-text1{
	position: absolute;
	width: 35vw;
    left: 48vw;
	top: 145px;
	padding: 20px;
    font-family: "Righteous";
    font-weight:;
    font-size: 25px;
    line-height: 1.5em;
    color: #ff8243;
    background: white;

}

.five-text{
	position: absolute;
	width: 35vw;
    left: 48vw;
	top: 225px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-weight:;
    font-size: 18px;
    line-height: 1.5em;
    color: #ff8243;
    background: white;

}

.five-text2{
	position: absolute;
	width: 35vw;
    left: 48vw;
	top: 470px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    font-weight:;
    line-height: 1.5em;
    color: #ff8243;
    background: white;

}

.six-text1{
	position: absolute;
	width: 35vw;
    left: 19vw;
	top: 5530px;
	padding: 20px;
    font-family:"Righteous" ;
    font-size: 70px;
    font-weight: bold ;
    line-height: 1.5em;
    color: white;
    background:;

}

.six-text2{

	position: absolute;
	width: 35vw;
    left: 19vw;
	top: 5690px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5em;
    color: white;
    background:;

}

.six-text{
	position: absolute;
	width: 57vw;
    left: 19vw;
	top: 5750px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 20px;
    font-weight: ;
    line-height: 1.5em;
    color: white;
    background:;

}

div:nth-child(1){

	background-image: url(old-theatre-copy.jpeg);
	background-attachment: fixed;
	background-size: cover;
}


div:nth-child(2){
	background:#ff8243;
	background-size: cover;
	font-size: 35px;
}



div:nth-child(3){

	background-image: url(horse-in-motion-copy.jpeg);
	background-attachment: fixed;
	background-size: cover;
	font-size: 50px;
	color:  #ff8243 ;

}

.three{

	font-size: 50px;
	font-weight: lighter;
    top: 100px;
    bottom: 100px;
	margin: 100px ;
	width: 60%;
	color: #ff8243 ;
	width: 600px;
	height: 900px;


}

div:nth-child(4){

		background: #ff8243 ;
		background-size: cover;

	}

div:nth-child(5){

	background-image: url(charlie-chaplin.jpeg);
	background-attachment: fixed;
	background-size: cover;
	font-size: 50px;
	color:  #ff8243 ;;
		

	}

	.five{
		position: relative;
	font-size: 50px;
	font-weight: lighter;
    top: -10px;
    bottom: 100px;
	margin: 100px ;
	width: 60%;
	color: #ff8243 ;
	width: 600px;
	height: 900px;


}

div:nth-child(6){

	background-image: url(sound.jpeg);
	background-attachment: fixed;
	background-size: cover;


}

div:nth-child(7){

	background: #ff8243;
	background-size: cover;

}

div:nth-child(8){

	background-image: url(the-wizard-of-oz.jpeg);
	background-attachment: fixed;
	background-size: cover;

}

div:nth-child(9){

	background-image: url(technicolour.jpeg);
	background-attachment: fixed;
	background-size: cover;


}

.nine{

	font-size: 50px;
	font-weight: lighter;
    top: 100px;
    bottom: 100px;
	margin: 100px ;
	width: 60%;
	color: #ff8243 ;
	width: 600px;
	height: 900px;


}

.nine-text1 {


	position: absolute;
	width: 35vw;
     left: 53vw;
	top: 7320px;
	padding: 20px;
    font-family: "Righteous";
    font-weight:;
    font-size: 25px;
    line-height: 1.5em;
    color: #ff8243;
    background: white;


}

.nine-text2{

	position: absolute;
	width: 35vw;
    left: 53vw;
	top: 7422px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    font-weight:  lighter;
    color: ff8243;
    background:white;

}

.nine-text3{
	position: absolute;
	width: 35vw;
    left: 53vw;
	top: 7758px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
   font-weight:  lighter;
    line-height: 1.5em;
    color: #ff8243;
    background: white;
}


div:nth-child(10){

	
	background: #ff8243;
	background-size: cover;

}

div:nth-child(11){

	background-image: url(marilyn-monroe.jpeg);
	background-attachment: fixed;
	background-size: cover;

}

.eleven-text {

	position: absolute;
	width: 29vw;
    left: 15vw;
	top: 8950px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
   font-weight: bold;
    line-height: 1.5em;
    color: white;

}



div:nth-child(12){

	background-image: url(3d-movie.png);
	background-attachment: fixed;
	background-size: cover;


}

.twelve-text{

	position: absolute;
	width: 35vw;
    left: 47vw;
	top: 176px;
	padding: 20px;
    font-family: "Righteous";
    font-weight:;
    font-size: 25px;
    line-height: 1.5em;
    color: #ff8243;
    background: white;
}

.twelve-text1 {

	position: absolute;
	width: 33vw;
    left: 47vw;
	top: 269px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
   font-weight:  lighter;
    line-height: 1.5em;
    color: #ff8243;
    background: white;
}


.twelve{
	position: relative;
	font-size: 50px;
	font-weight: lighter;
    top: -10px;
    bottom: 100px;
	margin: 100px ;
	width: 60%;
	color: #ff8243 ;
	width: 600px;
	height: 900px;


}

div:nth-child(13){

	background-image: url(sound-of-music.jpeg);
	background-attachment: fixed;
	background-size: cover;

}

div:nth-child(14){

background-image: url(cinerama.jpeg);
	background-attachment: fixed;
	background-size: cover;
	

}

.fourteen {
	font-size: 35px;
	font-weight: lighter;
    top: 100px;
    bottom: 100px;
	margin: 100px ;
	width: 60%;
	color: #ff8243 ;
	width: 600px;
	height: 900px;

}


.fourteen-text{

	position: absolute;
	width: 35vw;
    left: 54vw;
	top: 11780px;
	padding: 20px;
    font-family: "Righteous";
    font-weight:;
    font-size: 25px;
    line-height: 1.5em;
    color: #ff8243;
    background: white;
}

.fourteen-text1{

	position: absolute;
	width: 32vw;
    left: 54vw;
	top: 11871px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
   font-weight:  lighter;
    line-height: 1.5em;
    color: #ff8243;
    background: white;
}

.fourteen-text2{

	position: absolute;
	width: 35vw;
    left: 54vw;
	top: 12086px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
   font-weight:  lighter;
    line-height: 1.5em;
    color: #ff8243;
    background: white;
}


div:nth-child(15){

		background: #ff8243;
	background-size: cover;



}

div:nth-child(16){

	background-image: url(the-graduate.jpeg);
	background-attachment: fixed;
	background-size: cover;


}

.sixteen-text1 {

	position: absolute;
	width: 30vw;
    left: 15vw;
	top: 13460px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
   font-weight:bold;
    line-height: 1.5em;
    color: white;
}

div:nth-child(17){

	background: #ff8243;
	background-size: cover;



}


div:nth-child(18){

	background-image: url(sw.jpeg);
	background-attachment: fixed;
	background-size: cover;


}

.eighteen{
	font-size: 35px;
	font-weight: lighter;
    top: 100px;
    bottom: 100px;
	margin: 100px ;
	width: 60%;
	color: #ff8243 ;
	width: 600px;
	height: 900px;

}

.eighteen-text{

	position: absolute;
	width: 35vw;
    left: 54vw;
	top: 15175px;
	padding: 20px;
    font-family: "Righteous";
    font-weight:;
    font-size: 25px;
    line-height: 1.5em;
    color: #ff8243;
    background: white;
}

.eighteen-text1 {

	position: absolute;
	width: 30vw;
    left: 54vw;
	top: 15250px;
	padding: 20px;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
   font-weight:lighter;
    line-height: 1.5em;
    color: #ff8243;
}



.strip1{
 	position: absolute;
 	width: 15px;
 	height: 15000px;
 	background:  white;
 	top: -20px;
	left:95px;
 }

 .strip2{
 	position: absolute;
 	width: 15px;
 	height: 15000px;
 	background:  white;
 	top: -20px;
	right:95px;
 }

.box1{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 45px;
	left:20px;
	

}

.box2{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 259px;
	left:20px;


}

.box3{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 470px;
	left:20px;
}

.box4{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 683px;
	left:20px;
}

.box5{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 895px;
	left:20px;
}

.box6{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 1111px;
	left:20px;
}





.box7{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 45px;
	right:20px;


}

.box8{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 259px;
	right:20px;


}

.box9	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 470px;
	right:20px;


}

.box10	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 683px;
	right:20px;


}

.box11	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 895px;
	right:20px;


}

.box12	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 1111px;
	right:20px;

}

.box13	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 1328px;
	right:20px;

}

.box14	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 1543px;
	right:20px;

}


.box15	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 2629px;px;
	right:20px;

}

.box16	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 2851px;
	right:20px;

}

.box17	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 3078px;
	right:20px;

}

.box18	{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 3294px;
	right:20px;

}


.box19{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 1328px;
	left:20px;
}


.box20{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 1543px;
	left:20px;
}


.box21{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 2629px;
	left:20px;
}

.box22{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top:  2851px;
	left:20px;
}

.box23{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 3078px;
	left:20px;
}


.box24{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 3294px;
	left:20px;
}

.box25{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top:  4620px;
	left:20px;
}

.box26{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 4842px;
	left:20px;
}


.box27{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 5063px;
	left:20px;
}

.box28{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top:  5293px;
	left:20px;
}

.box29{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 5524px;
	left:20px;
}


.box30{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 5751px;
	left:20px;
}


.box31{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top:  4620px;
	right:20px;
}

.box32{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 4842px;
	right:20px;
}


.box33{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 5063px;
	right:20px;
}

.box34{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top:  5293px;
	right:20px;
}

.box35{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 5524px;
	right:20px;
}


.box36{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 5751px;
	right:20px;
}


.box37{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 5983px;
	left:20px;
}

.box38{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 6219px;
	left:20px;
}

.box39{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 6447px;
	left:20px;
}

.box40{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 6678px;
	left:20px;
}

.box41{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 6908px;
	left:20px;
}


.box42{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 7134px;
	left:20px;
}


.box43{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 7366px;
	left:20px;
}


.box44{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 7595px;
	left:20px;
}


.box45{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 7826px;
	left:20px;
}


.box46{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 8059px;
	left:20px;
}


.box47{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 8291px;
	left:20px;
}


.box48{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 8528px;
	left:20px;
}

.box49{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 5983px;
	right:20px;
}

.box50{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 6219px;
	right:20px;
}

.box51{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 6447px;
	right:20px;
}

.box52{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 6678px;
	right:20px;
}

.box53{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 6908px;
	right:20px;
}


.box54{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 7134px;
	right:20px;
}


.box55{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 7366px;
	right:20px;
}


.box56{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 7595px;
	right:20px;
}


.box57{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 7826px;
	right:20px;
}


.box58{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 8059px;
	right:20px;
}


.box59{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 8291px;
	right:20px;
}


.box60{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 8528px;
	right:20px;
}


.box61{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 8765px;
	left:20px;
}


.box62{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 9000px;
	left:20px;
}

.box63{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 9233px;
	left:20px;
}


.box64{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 9472px;
	left:20px;
}

.box65{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 10727px;
	left:20px;
}


.box66{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 10951px;
	left:20px;
}


.box67{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 11181px;
	left:20px;
}


.box68{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 11415px;
	left:20px;
}


.box69{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 12542px;
	left:20px;
}


.box70{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 12778px;
	left:20px;
}


.box71{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13003px;
	left:20px;
}

.box72{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13230px;
	left:20px;
}

.box73{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13472px;
	left:20px;
}

.box74{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13472px;
	right:20px;
}


.box75{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 9000px;
	right:20px;
}

.box76{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 9233px;
	right:20px;
}


.box77{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 9472px;
	right:20px;
}

.box78{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 10727px;
	right:20px;
}


.box79{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 10951px;
	right:20px;
}


.box80{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 11181px;
	right:20px;
}


.box81{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 11415px;
	right:20px;
}


.box82{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 12542px;
	right:20px;
}


.box83{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 12778px;
	right:20px;
}


.box84{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13003px;
	right:20px;
}

.box85{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13230px;
	right:20px;
}

.box86{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13472pxpx;
	right:20px;

}



.box87{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13691px;
	left:20px;
}


.box88{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13911px;
	left:20px;
}

.box89{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14142px;
	left:20px;
}

.box90{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14142px;
	left:20px;
}

.box91{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14362px;
	left:20px;
}

.box92{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14595px;
	left:20px;
}


.box93{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13691px;
	right:20px;
}

.box94{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 13911px;
	right:20px;
}

.box95{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14142px;
	right:20px;
}

.box96{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14362px;
	right:20px;
}

.box97{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14595px;
	right:20px;
}

.box98{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14821px;
	right:20px;
}

.box99{

	position: absolute;
	border-radius: 10px;
	width: 50px;
	height: 100px;
	background: white;
	top: 14821px;
	left:20px;
}








































